body{
    background-image: url("img/meal.jpg");
    background-size: 100%;
    /*background-repeat: no-repeat;*/
}

.jumbotron{
    position: relative;
    background:transparent !important;

}

#meal .card{
    height: 360px;
    min-width: 100px;
    max-width: 300px;
}

fieldset input[type=radio]{
    accent-color:#28a645;
}

input:checked~.form-check-label {
    color: #28a645;
}

input~.form-check-label {
    color: #cbccce;
}
.card-img-top{
    height: 200px;
}

.card-body .card-title{
    height: 0px;
}